<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="form-box" id="subMenu" style="background-color:rgba(255, 255, 255, 0.3);">
        <div class="form-value">
          <form method="POST" action="/newpassword">
            <h2 >New Password</h2>
        
            <div class="inputbox">
              <i class="fa fa-password"></i>
              <input type="password" name="password1" required>
              <label for="">Enter Password</label>
            </div>

            <div class="inputbox">
              <i class="fa fa-password"></i>
              <input type="password" name="password2" required>
              <label for="">Re-enter Password</label>
            </div>
            
            <button id="butt" style="color: aliceblue;">Save</button>
            {% if different %}
            <div style="height: 17px;align-items: center;justify-content: center;display: flex;padding-bottom:-2px;">
              Oops Miss-Match Password, Enter Again
            </div>
            {% endif %}
          </form>
        </div>
   </div>
</body>
</html>