<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="form-box" id="subMenu" style="background-color:rgba(255, 255, 255, 0.3);">
        <div class="form-value">
          <form method="POST" action="/into_database">
            <h2 >Register</h2>
            <div class="inputbox">
              <i class="fa fa-mail"></i>
              <input type="email" name="email" required>
              <label for="">email</label>
            </div>
            <div class="inputbox">
              <i class="fa fa-lock"></i>
              <input type="password" name="password" required>
              <label for="">Password</label>
            </div>
            
            <div class="inputbox" name="role_type">
              <select id="role_type" name="role_type" required>
                <option>Select Role</option>
                <option value="branch">Branch office/State office</option>
                <option value="head" >Head Post Office</option>
                <option value="division">Division</option>
                <option value="region">Region/Circle</option>
              </select>
            </div>
            
            <button id="butt" style="color: aliceblue;">Register</button>
            <div class="forget" style="margin-top: 10px;">
                <label for="">
                   <a href="/login" style="margin-left: 30px;">Already exist. Login</a>
              </div>
            {% if error %}
            <div style="height: 17px;align-items: center;justify-content: center;display: flex;padding-bottom:-2px;">
              Email already exist ! use another.
            </div>
            {% endif %}
          </form>
        </div>
   </div>
</body>
</html>
