<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swades</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <link rel="stylesheet" href="static/landscape.css">
    

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="sidebar">
      <div class="nav-header">
        <p class="logo">SWADES</p>
        <i class="bx bx-menu btn-menu"></i>
      </div>
      <ul class="nav-links">
       
        <li>
          <a href="/home">
            <i class="fa-solid fa-house"></i>
            <span class="title">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="/overview">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <span class="title">Overview</span>
          </a>
          <span class="tooltip">Overview</span>
        </li>
        <li>
          <a href="/report">
            <i class="fa-regular fa-file-lines"></i>
            <span class="title">Report</span>
          </a>
          <span class="tooltip">Report</span>
        </li>
        <li>
          <a href="/insights">
            <i class="fa-solid fa-lightbulb"></i>
            <span class="title">Insights</span>
          </a>
          <span class="tooltip">Insights</span>
        </li>
        
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="title">Setting</span>
          </a>
          <span class="tooltip">Setting</span>
        </li>

        
     
      <li class="profile">
        <a href="#">
          <i class="fa-solid fa-user"></i>
          <span class="title">Profile</span>
        </a>
        <span class="tooltip">Profile</span>
      </li>
    </ul>
      
     
    </section>
    <span class="sub-nav">
      <i class="fa-solid fa-cloud-arrow-down" id="download" onclick="window.print(856,751)"></i>
    </span>    
    {% block content%}
    {% endblock%}
    <script>
      const btn_menu = document.querySelector(".btn-menu");
      const side_bar = document.querySelector(".sidebar");

      btn_menu.addEventListener("click", function () {
        side_bar.classList.toggle("expand");
        changebtn();
      });

      function changebtn() {
        if (side_bar.classList.contains("expand")) {
          btn_menu.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
          btn_menu.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      }

      const btn_theme = document.querySelector(".theme-btn");
      const theme_ball = document.querySelector(".theme-ball");


    </script>
  </body>
</html>
