{% extends "Regional_level/main.html" %} 
{% block title %}Transportation{% endblock title %} 
{% block content %}

<section class="home">
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <title>Data of Transportation Communication Visualization</title>
</head>
<body>
    <div class="container1">
        <h1>Data Transportation & Communication Dashboard</h1>
        <div class="form-group">
            <label for="demographic">Transportation Communication Level:</label>
            <select id="demographic">
                <option value="">Select</option>
                <option value="Transportation Access">Transportation Access</option>
                <option value="Communication Access">Communication Access</option>
            </select>
        </div>
        <div class="form-group">
            <label for="column">Select Column:</label>
            <select id="column" disabled></select>
        </div>
        <div class="form-group">
            <label for="graph">Graph Type:</label>
            <select id="graph">
                <option value="bar">Bar</option>
                <option value="line">Line</option>
                <option value="pie">Pie</option>
            </select>
        </div>
        <button id="generate-btn">Generate</button>
        <div id="output">
            
            <div id="summary"></div>
            
            <canvas id="chart"></canvas>
            
            <table id="table"></table>
        </div>
    </div>
   
</body>

</html>
</section>
<link rel="stylesheet" href="static/sectors.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="static/transportation.js"></script>
{% endblock%}
